* {
    font-family: 'Courgette', cursive;
    font-family: 'Roboto', sans-serif;      
}

body{
    background-color: #f4f4f4;
}

nav, .nav{
    background-color:  lightslategray;
    

}
.nav-link {
    color: #fff;
}

.navbar a {
    color: #fff;
} 

img
{
   width: 50%;
   margin: auto;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #000;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}
